﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="jumbotron">
    <h2 class="display-3">Welcome, @ViewData["StudentName"]!</h2>
    <img class="img-fluid" style="width:100%; height:600px;" src="~/images/StudentIndex.jpg" />
    <p class="lead">What will you like to do today?</p>
    <hr class="my-2" />
    <div class="d-flex">
        <div class="container">
            <h3>Student</h3>
            <p class="lead">Start Creating a Stunnng Profile! Remember to keep it updated!</p>
            <div style="margin:2px;">
                <a class="btn btn-info p-4" asp-controller="Student" asp-action="ViewProfile">View Profile</a>
                <a class="btn btn-info p-4" asp-controller="Student" asp-action="Update">Update</a>
                <a class="btn btn-info p-4" asp-controller="Student" asp-action="UploadPhoto">Upload a new photo</a>
                <a class="btn btn-info p-4" asp-controller="Student" asp-action="ViewSuggestions">View Suggestions</a>
            </div>
        </div>
        <div class="container">
            <h3>Project</h3>
            <p class="lead">Impress your employers with amazing projects! Let them know your talents!</p>
            <div style="margin:2px;">
                <a class="btn btn-success p-4" asp-controller="Project" asp-action="Index">Project Home</a>
                <a class="btn btn-success p-4" asp-controller="Project" asp-action="ViewProject">View Project</a>
                <a class="btn btn-success p-4" asp-controller="Project" asp-action="Create">Create a New Porject</a>
            </div>
        </div>
    </div>
</div>

