﻿@model WEB2019Apr_P02_Team1.Models.ProfileViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/CommonForms.css" />

<div class="row justify-content-center form-wrapper">
    <div class="col-md-4">
        <h2>Update</h2>
        <h4>Student</h4>
        <hr />
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger" role="alert">@ViewData["Message"]</div>
        }
        @if (ViewData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">@ViewData["Success"]</div>
        }
        <form asp-action="Update" asp-controller="Student">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" readonly class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <input asp-for="Course" readonly class="form-control" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="5" cols="50" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achievement" class="control-label"></label>
                <textarea rows="3" cols="30" asp-for="Achievement" class="form-control"></textarea>
                <span asp-validation-for="Achievement" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (int i = 0; i < Model.SkillSetList.Count; i++)
                {
                    <label asp-for="SkillSetList[i].IsChecked">
                        @Model.SkillSetList[i].SkillSetName
                    </label>
                    if (Model.SkillSetList[i].IsChecked)
                    {
                        <input asp-for="SkillSetList[i].IsChecked" type="checkbox" checked />
                    }
                    else
                    {
                        <input asp-for="SkillSetList[i].IsChecked" type="checkbox" />
                    }
                    <input asp-for="SkillSetList[i].SkillSetID" type="hidden" />
                    <input asp-for="SkillSetList[i].SkillSetName" type="hidden" />
                }
            </div>
            <div class="form-group">
                <label asp-for="ExternalLink" class="control-label"></label>
                <input asp-for="ExternalLink" class="form-control" />
                <span asp-validation-for="ExternalLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
            <div>
                <a class="btn btn-warning" asp-action="Index">Back to Home</a>
            </div>
        </form>
    </div>
</div>
<br />



