﻿@model WEB2019Apr_P02_Team1.Models.Student

@{
    ViewData["Title"] = "UploadPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rand = new Random().Next(0, 999999);
}

<link rel="stylesheet" href="~/css/CommonForms.css" />

<div class="row justify-content-center form-wrapper">
    <div class="col-sm-8 col-md-6 col-lg-4">
        <h2>Upload Profile Picture</h2>
        <h4>Student</h4>
        <hr />
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger" role="alert">@ViewData["Message"]</div>
        }
        @if (ViewData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">@ViewData["Success"]</div>
        }
        <img src="~/images/@Model.Photo?dummy=@rand" class="img-thumbnail" />
        <form asp-action="UploadPhoto" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileToUpload" class="font-weight-bold"></label>
                <br />
                <input asp-for="FileToUpload" accept="image/jpeg" />
                <input asp-for="StudentID" type="hidden" />
                <input asp-for="Name" type="hidden" />
                <input asp-for="Photo" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>



