﻿@model WEB2019Apr_P02_Team1.Models.ProfileViewModel

@{
    ViewData["Title"] = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rand = new Random().Next(0, 999999);
}

<h2>ViewProfile</h2>
<h4>Student</h4>
<hr />
<div class="container">
    <div class="row">
        <img class="col-12 col-sm-12 col-md-5 col-lg-5" src="~/images/@Model.Photo?dummy=@rand" />
        <div class="col-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <dl>
                <dt>
                    <label asp-for="Name"></label>
                </dt>
                <dd>
                    @Html.Display("Name")
                </dd>
                <dt>
                    <label asp-for="Course"></label>
                </dt>
                <dd>
                    @Html.Display("Course")
                </dd>
                <dt>
                    <label asp-for="Achievement"></label>
                </dt>
                <dd>
                    @Html.Display("Achievement")
                </dd>
                <dt>
                    <label asp-for="SkillSetList"></label>
                </dt>
                @foreach (var item in Model.SkillSetList)
                {
                    <dd>@item.SkillSetName</dd>
                }
                <dt>
                    <label asp-for="ExternalLink"></label>
                </dt>
                <dd>
                    <a href="@Html.Display("ExternalLink")">@Html.Display("ExternalLink")</a>
                </dd>
                <dt>
                    <label asp-for="EmailAddr"></label>
                </dt>
                <dd>
                    @Html.Display("EmailAddr")
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="font-weight-bold" asp-for="Description"></label>
            <p>
                @Html.Display("Description")
            </p>
        </div>
    </div>
</div>

