﻿@model IEnumerable<WEB2019Apr_P02_Team1.Models.Suggestion>

@{
    ViewData["Title"] = "ViewSuggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h2 class="text-center">ViewSuggestions</h2>
</p>

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">@TempData["Message"]</div>
}
else if(TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">@TempData["Success"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th class="font-weight-bold">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach ((var item, int index) in Model.Select((suggestion, index) => (suggestion, index)))
        {
            <tr>
                <td>
                    @(index+1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @if (item.Status == 'Y')
                    {
                        <button class="btn btn-success" type="button" disabled>Acknowledge</button>
                    }
                    else
                    {
                        <div class="btn btn-success">
                            <a asp-action="Acknowledge" asp-controller="Student" asp-route-id="@item.SuggestionID"
                               style="text-decoration:none; color:white;">Acknowledge</a>
                        </div>
                    }
                    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#modal-@index">
                        View
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@foreach((var item, int index) in Model.Select((suggestion, index) => (suggestion, index)))
{
    <div class="modal" id="modal-@index" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="flex flex-column">
                        <h4 class="modal-title">Suggestions</h4>
                        <p style="margin: 0;">Date Created: @item.DateCreated</p>
                        <p style="margin: 0;">Acknowledge Status: @item.Status</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @item.Description
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
