﻿
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/HomeAboutUs.css" />

<h2 class="text-center" style="margin: 20px auto;">About Us</h2>

<div class="container" id="about-us">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/male1.jpg" class="img-fluid">
        </div>
        <div class="col-md-8 d-flex align-items-center">
            <h4>"Businesses will have to ride the wave and transform, or be left behind. Similarly, as individuals, you will also need to continue to upgrade and pick up new skills just as fast"</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <p>
            Dear ICTians,
        </p>
        <p>
            The School of ICT has organised this annual showcase to celebrate the successful completion of our graduates’ journey in NP. This event is also a showcase of your skills, knowledge, passion and creativity to prepare you for the industry or even further studies.
            <br><br>
            You will be embarking on an industry that is very dynamic and evolving constantly, shaped by rapid advancements in technology, that will fundamentally change the way businesses operate. This brings with it many opportunities for you to be involved in innovative and emerging technologies, often times at the cutting edge. Businesses will have to ride the wave and transform, or be left behind. Similarly, as individuals, you will also need to continue to upgrade and pick up new skills just as fast.
            <br><br>
            I congratulate every graduating ICTian and offer you my best wishes in all your future endeavours.
            <br><br>
            In closing, I would like to take this opportunity to thank our important stakeholders namely our Advisory Committee, industry partners, University partners, ICT staff, alumni and parents who have all contributed and supported us in the learning journey of every ICTian.
        </p>
    </div>
</div>