﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/HomeIndex.css" />

<div id="carousel-main" class="carousel slide" data-ride="carousel">
     <ol class="carousel-indicators">
        <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-main" data-slide-to="1"></li>
    </ol> 
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="carousel-img" src="https://images.glints.com/unsafe/1024x0/glints-dashboard.s3.amazonaws.com/company-banner-pic/f022be575839e0e5eebe75af2a037119.jpg">
        </div>
        <div class="carousel-item">
            <img class="carousel-img" src="https://www.np.edu.sg/ict/PublishingImages/Pages/default/BG_desktop.png">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-main" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carousel-main" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div id="my-card-menu" class="row justify-content-around" style="margin-top: 50px;">
    <div class="card">
        <i class="fas fa-users fa-5x card-img-top my-card-header" style="background-color: rgb(198, 225, 255);"></i>
        <div class="card-body">
            <h2 class="card-title">Students</h2>
            <p class="card-text">
                This Year Cohort
            </p>
            <a asp-action="Students" class="btn btn-outline-primary my-card-button">View Students</a>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-edit fa-5x card-img-top my-card-header" style="background-color: rgb(253, 198, 255);"></i>
        <div class="card-body">
            <h2 class="card-title">Projects</h2>
            <p class="card-text">
                Our Students Projects
            </p>
            <a asp-action="Projects" class="btn btn-outline-primary my-card-button">View Projects</a>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-user-circle fa-5x card-img-top my-card-header" style="background-color: rgb(255, 237, 198);"></i>
        <div class="card-body">
            <h2 class="card-title">Account</h2>
            <p class="card-text">
                For NP Students & Lecturers
            </p>
            @*<a asp-controller="Student" asp-action="Register" class="btn btn-outline-primary my-card-button">Register Student</a>
            <a asp-controller="Lecturer" asp-action="Register" class="btn btn-outline-primary my-card-button">Register Lecturer</a>*@
            <a asp-action="Login" class="btn btn-outline-primary my-card-button">Login</a>
        </div>
    </div>
</div>