﻿@model WEB2019Apr_P02_Team1.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/CommonForms.css" />

<div class="row justify-content-center form-wrapper">
    <div class="col-md-4">
        <h2>Login to ePortfolio</h2>
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger" role="alert">@ViewData["Message"]</div>
        }
        @if (ViewData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">@ViewData["Success"]</div>
        }
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>