﻿@model IEnumerable<WEB2019Apr_P02_Team1.Models.Project>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rand = new Random().Next(0, 999999);
}


<h2 class="text-center" style="margin: 20px auto;">Projects</h2>
<div class="container">
    <div class="row">
        @if (Model.ToList().Count > 0)
        {
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="card card h-100" style="width: 18rem;">
                        @if (item.ProjectPoster.Length == 0)
                        {
                            <div style="width: 286px; height: 300px">
                                <img class="card-img-top img-thumbnail" style="object-fit:contain; width:100%; height: 100%;" src="~/images/Project_placeholder.jpg?dummy=@rand" />
                            </div>
                        }
                        else
                        {<div style="width: 286px; height: 300px">
                                <img class="card-img-top img-thumbnail" style="object-fit:contain; width:100%; height: 100%;" src="~/images/@item.ProjectPoster?dummy=@rand" />
                            </div>
                        }
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text" style="height: 3em; overflow: hidden">@item.Description</p>
                            <div class="text-center card-link">
                                <a role="button" class="btn btn-primary" asp-action="DetailProject" asp-controller="Project"
                                   asp-route-id="@item.ProjectId"   >View</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }else
        {
            <h1>No projects to be found, populate this page now by creating a project!</h1>
        }
    </div>
</div>
