﻿@model IEnumerable<WEB2019Apr_P02_Team1.Models.Student>

@{
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rand = new Random().Next(0, 999999);
}

<p>
    <h2 class="text-center">Students</h2>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div style="width: 300px; height: 300px;">
                <img style="object-fit:contain; width:100%; height: 100%;" class="img-thumbnail" src="~/images/@item.Photo?dummy=@rand" />
            </div>
            <div class="caption">
                <h3>@item.Name</h3>
                <p class="lead">ID: @item.StudentID</p>
                <p>
                    <a class="btn btn-primary" asp-controller="Student" asp-action="ViewProfile" asp-route-id="@item.StudentID">
                        View Profile
                    </a>
                </p>
            </div>
        </div>
        }
    </div>
</div>
