﻿@model WEB2019Apr_P02_Team1.Models.Password

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/CommonForms.css" />

<div class="row justify-content-center form-wrapper">
    <div class="col-md-4">
        <h2>Change Password</h2>
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger" role="alert">@ViewData["Message"]</div>
        }
        @if (ViewData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">@ViewData["Success"]</div>
        }
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" type="password"/>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" type="password"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" type="password"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>