﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/LecturerIndex.css" rel="stylesheet">

<div class="container" style="margin-top: 20px;">
    <div style="text-align: center;">
        <h1>Welcome, @ViewData["LecturerName"]</h1>
        <p>What do you want to do today?</p>
    </div>
    <div class="row justify-content-around" style="margin-top: 50px;">
        <div class="col-3">
            <div class="card">
                <i class="fas fa-users fa-5x card-img-top my-card-header" style="background-color: rgb(198, 225, 255);"></i>
                <div class="card-body">
                    <h2 class="card-title">Mentees</h2>
                    <p class="card-text">
                        Your Students
                    </p>
                    <a asp-action="ViewMentees" class="btn btn-outline-primary my-card-button">View Mentees</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <i class="fas fa-edit fa-5x card-img-top my-card-header" style="background-color: rgb(253, 198, 255);"></i>
                <div class="card-body">
                    <h2 class="card-title">Suggestions</h2>
                    <p class="card-text">
                        Give Feedback to Students
                    </p>
                    <a asp-action="PostSuggestion" class="btn btn-outline-primary my-card-button">Post Suggestions</a>
                    <a asp-action="ViewSuggestions" class="btn btn-outline-primary my-card-button">View Suggestions</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <i class="fas fa-user-circle fa-5x card-img-top my-card-header" style="background-color: rgb(255, 237, 198);"></i>
                <div class="card-body">
                    <h2 class="card-title">Profile</h2>
                    <p class="card-text">
                        Manage your Account
                    </p>
                    <a asp-action="ChangePassword" class="btn btn-outline-primary my-card-button">Change Password</a>
                    <a asp-action="UpdateProfile" class="btn btn-outline-primary my-card-button">Update Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>