﻿@model WEB2019Apr_P02_Team1.Models.Lecturer

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Lecturer Profile</h2>

<form asp-controller="Lecturer" asp-action="Login">
    <label asp-for="EmailAddr"></label>
    <input asp-for="EmailAddr" value="Peter_Ghim@ap.edu.sg"/>
    <span asp-validation-for="EmailAddr"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" value="Password"/>
    <span asp-validation-for="Password"></span>
    <br />
    <input asp-for="Name" hidden/>
    <input type="submit" />
    <input type="reset" />
</form>
