﻿@model WEB2019Apr_P02_Team1.Models.Suggestion

@{
    ViewData["Title"] = "Suggest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/CommonForms.css" />

<div class="row justify-content-center form-wrapper">
    <div class="col-md-4">
        <h2>Post Suggestion</h2>
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger" role="alert">@ViewData["Message"]</div>
        }
        @if (ViewData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">@ViewData["Success"]</div>
        }
        <form asp-controller="Lecturer" asp-action="PostSuggestion">
            <div class="form-group">
                <label class="control-label">Student</label>
                <select asp-for="StudentID" asp-items="@ViewData["StudentList"] as List<SelectListItem>" class="form-control" required></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>