﻿@model WEB2019Apr_P02_Team1.Models.Lecturer

@{
    ViewData["Title"] = "UpdateProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/CommonForms.css" />

<div class="row justify-content-center form-wrapper">
    <div class="col-md-4">
        <h2>Update Profile</h2>
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger" role="alert">@ViewData["Message"]</div>
        }
        @if (ViewData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">@ViewData["Success"]</div>
        }
        <form asp-controller="Lecturer" asp-action="UpdateProfile">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input asp-for="EmailAddr" class="form-control">
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input asp-for="Password" hidden />
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>