﻿@model IEnumerable<WEB2019Apr_P02_Team1.Models.Student>

@{
    ViewData["Title"] = "ViewMentees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/LecturerViewMentees.css" />

<h2 class="text-center" style="margin: 20px auto;">Your Mentees</h2>

<div class="my-cards">
@foreach (var student in Model)
{
    <div class="card d-flex flex-row align-items-center">
        <img src="~/images/@student.Photo" class="card-img-top my-card-header" />
        <div class="card-body">
            <h3 class="card-title">@student.Name</h3>
            <h6 class="card-subtitle text-muted">ID: @student.StudentID</h6>
            <br />
            <a asp-controller="Student" asp-action="ViewProfile" asp-route-id="@student.StudentID" target="display"class="btn btn-outline-info my-card-button">View Profile</a>
            <a asp-action="PostSuggestion" asp-route-defaultStudentID="@student.StudentID" class="btn btn-outline-primary my-card-button">Post Suggestion</a>
        </div>
    </div>
}
</div>
