﻿@model IEnumerable<WEB2019Apr_P02_Team1.Models.SuggestionViewModel>

@{
    ViewData["Title"] = "ViewSuggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/LecturerViewSuggestions.css" />

<h2 class="text-center" style="margin: 20px auto;">Suggestions Posted</h2>

<table class="table my-table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Status</th>
            <th>Student</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach ((var suggestion, int index) in Model.Select((suggestion, index) => (suggestion, index)))
        {
            <tr>
                <td>@(index + 1)</td>
                <td>@suggestion.Status</td>
                <td>@suggestion.StudentName</td>
                <td><div>@suggestion.Description</div></td>
                <td>@suggestion.DateCreated</td>
                <td>
                    <button class="btn btn-primary my-table-button" type="button" data-toggle="modal" data-target="#modal-@index">View</button>
                    <button class="btn btn-success my-table-button">Update</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@foreach ((var suggestion, int index) in Model.Select((suggestion, index) => (suggestion, index)))
{
<div class="modal" id="modal-@index" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex flex-column">
                    <h4 class="modal-title">Suggestions for @suggestion.StudentName</h4>
                    <p style="margin: 0;">Date Created: @suggestion.DateCreated</p>
                    <p style="margin: 0;">Status: @suggestion.Status</p>
                </div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @suggestion.Description
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
}