﻿/* Carousel */
#carousel-main {
    height: 40vw;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Cards */
.my-card-header {
    text-align: center;
    padding: 20px 0px;
}

.my-card-button {
    margin: 3px 0px;
}

#my-card-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 10px;
}
