﻿.my-table {
    margin: auto;
    width: 90%;
}

.my-table-button {
    margin: 0px 3px;
}

td:nth-child(1) {
    width: 5px;
}

td:nth-child(2) {
    width: 5px;
}

td:nth-child(3) {
    width: 110px;
}

td:nth-child(4) {
    width: 300px;
}

td:nth-child(5) {
    width: 150px;
}

td:nth-child(6) {
    width: 150px;
}

td:nth-child(4) > div {
    height: 46px;
    width: 300px;
    overflow: hidden;
}

.modal-body {
    max-height: 60vh;
    overflow-y: scroll;
}