﻿.my-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    grid-gap: 10px;
    justify-content: center;
}

.my-card-header {
    width: 40%;
    margin: 10px;
}

.my-card-button {
    margin: 3px 0px;
    font-size: 12px;
}
