﻿

/*Box for the switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 4.2em;
    height: 1.6em;
    padding: 0.1em;
}

/*Hiding the switch*/
.hideSwitch {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    color: antiquewhite;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.35s;
}

.member {
    background-color: deepskyblue;
}

.NonMember {
    background-color: crimson
}


.member:before {
    background-color: aliceblue;
}

.NonMember:before {
    background-color: aliceblue;
}


.slider:before {
    /**/
    position: absolute;
    height: 1.15em;
    width: 2.1em;
    left: 0.2em;
    right: 0.2em;
    top: 0.1em;
    bottom: 0.2em;
    transition: 0.35s;
}



/* study this*/
input:checked + .NonMember {
    background-color: deepskyblue;
}


input:checked + .member {
    background-color: crimson;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}



/*

    input:checked + .slider:before {
        transform: translateX(26px);
    }
    */
