﻿@model WEB2019Apr_P02_Team1.Models.Project

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4 class="text-center container" > Create Project Portfolio</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <!--Add the partial view here-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="float:right;"/>
            </div>
            @TempData["Error"]
        </form>
    <div>
        <a asp-action="Index" >Back to Home</a>
    </div>
    </div>
</div>


