﻿@model WEB2019Apr_P02_Team1.Models.EditProjectViewModel

@{
    ViewData["Title"] = "DetailProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rand = new Random().Next(0, 999999);
    var role =  ViewData["role"] as string;
}

<br />
<div class="container">
    <div>
        <h4 class="text-center p-3 mb-2 bg-dark text-white ">@Model.Project.Title </h4>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                @{ string file = Model.Project.ProjectPoster; }
                @if (file.Length == 0)
                {
                 <img class="img-thumbnail img-fluid" style="width:35%" src="~/images/Project_placeholder.jpg" />
                }
                else
                {
                    <img src="~/images/@file?dummy=@rand" class="img-thumbnail img-fluid" style="width:35%" />
                }
            </div>
        </div>

        <br />
        <hr />
        <div class="row " style="padding: 2em;">
            <div class="col-sm bg-light" style="padding: 2em;">
            <h4 style="width: 100%;" class="text-center">Description</h4>
                @Model.Project.Description
            </div>
            <div class="col-sm container bg-primary text-white">
                <div class="row" style="padding:2em" >
                    <h4 style="width: 100%;" class="text-center">Members</h4>
                    <div class="col-sm-4">
                        @foreach (var item in Model.Members)
                        {
                            <span>Role:</span>
                            @item.Role
                            <br />
                        }

                    </div>
                    <div class="col-sm ">
                        @foreach (var item in Model.MemberDetails)
                        {
                            <span>Name:</span>
                            @item.Name
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        @if (Model.Project.ProjectURL != "")
        {
            <div class="row justify-content-center" style="margin-top: 2em;">
                <a class="text-center p-3 mb-2 bg-success text-white btn-block" href="@Model.Project.ProjectURL" role="button">
                   Project
                </a>
            </div>
        }
    </div>
    <br />
    <div>
         <a asp-action="ViewProject">Back to List</a>
    </div>
</div>
