﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/ProjectIndex.css" rel="stylesheet" />

<h2 class="text-center title_head">Projects</h2>

<div class="text-center">
    <img src="~/images/projectDisplay.png" class="img-fluid " />

</div>

<div class="container card" style="min-height: 6em">
    <div class="card-body">
        <div class="row text-center">
            <div class="col-sm">
                <a role="button" class="btn btn-primary" asp-action="ViewProject">
                    View projects
                </a>
            </div>
            <div class="col-sm">
                <a role="button" class="btn btn-danger" asp-action="Create">
                    Create Project
                </a>
            </div>
        </div>
    </div>
</div>