﻿@model WEB2019Apr_P02_Team1.Models.EditProjectViewModel

@{
    ViewData["Title"] = "UpdateNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Project.css" rel="stylesheet" />
<link href="~/css/CommonForms.css" rel="stylesheet" />
<br /><br />
<h2 class="text-center">Update</h2>

<hr />

<!--
    1) Add a search function using javascript, async
    2) Delete and append table elements when adding/removing members
-->
<div class="row">
    <div class="col-md-4 container">
        <form asp-action="UpdateNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.ProjectId" class="control-label"></label>
                <input asp-for="Project.ProjectId" readonly class="form-control" />
                <span asp-validation-for="Project.ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" readonly class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <textarea asp-for="Project.Description" class="form-control" cols="10" rows="5"></textarea>
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.ProjectPoster" class="control-label"></label>
                <input readonly asp-for="Project.ProjectPoster" class="form-control" />
                <span asp-validation-for="Project.ProjectPoster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.ProjectURL" class="control-label"></label>
                <input type="url" asp-for="Project.ProjectURL" class="form-control" />
                <span asp-validation-for="Project.ProjectURL" class="text-danger"></span>
            </div>

            <br />
            <div class="container table-responsive">
                <h4 class="text-center">Members to be in the group</h4>
                <table class="container table" id="memberTable">
                    <caption>List of Members to add</caption>
                    <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col" class="text-center">Option</th>
                    </tr>

                    @for (int i = 0; i < Model.Members.Count; i++)
                    {
                            @foreach (var item in Model.MemberDetails)
                            {
                                if (Model.Members[i].StudentID == item.StudentID)
                                {
                                    Model.Members[i].Role = Model.Members[i].Role.Replace(" ", string.Empty);
                                    @if (@Model.Members[i].Role == "Leader" || @Model.Members[i].Role == "Member")
                                    {
                                        <tr scope="row" id="@Model.Members[i].StudentID">
                                            <td>@Model.Members[i].StudentID</td>
                                            <td>@item.Name </td>
                                            <td>@Model.Members[i].Role</td>
                                            <td class="text-center">
                                           
                                                <label class="switch">
                                                    @if (@Model.Members[i].Role == "Leader")
                                                    {
                                                        <input class="text-center" disabled asp-for="@Model.Members[i].Check" type="checkbox" />
                                                        <span id="@Model.Members[i].StudentID" class="slider member" style="filter:grayscale(80%) blur(0.1em);"></span>
                                                    }
                                                    else
                                                    {
                                                        <input class="text-center" asp-for="@Model.Members[i].Check" type="checkbox" />
                                                        <span onclick="getTableRow(this)" class="slider member">Select</span>
                                                    }
                                                </label>
                                                    <input class="text-center" hidden asp-for="@Model.Members[i].StudentID" />
                                                    <input asp-for="@Model.Members[i].Role" hidden />
                                                    <input class="text-center" hidden asp-for="@Model.Members[i].ProjectID" />
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        
                    }
                </table>

            </div>

            <br />
            <div class="container table-responsive">
                <h4 class="text-center">Not to be included in the group</h4>
                <table class="container table" id="nonMemberTable">
                    <caption>List of Members to add</caption>
                    <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col" class="text-center">Option</th>
                    </tr>

                    @for (int i = 0; i < Model.Members.Count; i++)
                    {
                            @foreach (var item in Model.MemberDetails)
                            {
                                if (Model.Members[i].StudentID == item.StudentID)
                                {
                                    Model.Members[i].Role = Model.Members[i].Role.Replace(" ", string.Empty);
                                    if (Model.Members[i].Role != "Leader" && Model.Members[i].Role != "Member")
                                    {
                                    <tr scope="row" id="@Model.Members[i].StudentID">
                                        <td>@Model.Members[i].StudentID</td>
                                        <td>@item.Name </td>
                                        <td>Non-Member</td>
                                        <td class="text-center">
                                            <label class="switch">
                                                <input class="text-center" asp-for="@Model.Members[i].Check" type="checkbox" />
                                                <span onclick="getTableRow(this)" class="slider NonMember">Select</span>
                                                <!-- onclick="setTimeout(getTableRow(this), 3000)"-->
                                            </label>
                                            <input class="text-center" hidden asp-for="@Model.Members[i].StudentID" />
                                            <input asp-for="@Model.Members[i].Role" hidden />
                                            <input class="text-center" hidden asp-for="@Model.Members[i].ProjectID" />
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        }
                </table>

            </div>




            <div class="text-center container">
                <h4 class="text-center">
                    @TempData["Error"]
                </h4>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>

        <p class="text-center">
            <a role="button" class="btn btn-outline-primary" asp-action="ViewProject">Back to list</a>
        </p>
    </div>

</div>

<script>

    function getTableRow(row) {

        var row_select = row.parentNode.parentNode.parentNode;
        var row_id = row_select.id
        var table = document.getElementById(row_id).parentNode.parentNode.id
        var memberTable = document.getElementById("memberTable");
        var nonMemberTable = document.getElementById("nonMemberTable");

        if (table == "nonMemberTable") {
            var appendTo = memberTable.children[1]
            appendTo.appendChild(document.getElementById(row_id))
        } else if (table == "memberTable") {
            var appendTo = nonMemberTable.children[1]
            appendTo.appendChild(document.getElementById(row_id))
        }
        
    }

    window.onload =  function () {

        var list = document.getElementsByTagName("tr")
        list = [].map.call(list, Object); 

        for (var i = 0; i < list.length; i++) {
            var trChildren = list[i].cells[3]
            if (typeof trChildren.children[0] !== "undefined") {
                    var status = trChildren.children[0].children[0].checked;
                    var memberShip = list[i].cells[2].innerHTML;
                    var table = this.document.getElementById(list[i].cells[0].innerHTML).parentElement.parentElement.id;
                    if (memberShip == "Member" && table == "memberTable" && status == true) {
                        document.getElementById("nonMemberTable").children[1].appendChild(document.getElementById(list[i].id))
                    }
                    else if (memberShip == "Non-Member" && table == "nonMemberTable" && status == true) {
                        document.getElementById("memberTable").children[1].appendChild(document.getElementById(list[i].id))
                    }
            }
        }
        
    };

    
</script>