﻿@model WEB2019Apr_P02_Team1.Models.ProjectViewModel

@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rand = new Random().Next(0, 999999);
}

<br /><br />
<h2 class="text-center">Upload</h2>

<hr />
<div class="container ">
    <div class=" row justify-content-center ">
        <form asp-action="Upload" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--Hidden-->
            <div class="form-group" hidden>
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" readonly />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" readonly />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <!--End of hidden-->

            <div class="form-group text-center" row>
                <label asp-for="ProjectPoster"></label>
                @if (Model.ProjectPoster == null ||Model.ProjectPoster.Length == 0)
                {

                    <div class=" justify-content-center" style="width: 500px; height: 300px">
                        <img class="card-img-top img-thumbnail" style="object-fit:contain; width:100%; height: 100%;" src="~/images/Project_placeholder.jpg" />
                    </div>
                }
                else
                {
                    <div class=" justify-content-center" style="width: 500px; height: 300px">
                        <img class="card-img-top img-thumbnail" style="object-fit:contain; width:100%; height: 100%;"  alt="responsive-image" src="~/images/@Model.ProjectPoster?dummy=@rand" />
                    </div>
                }
            </div>

            <!--Hidden-->
            <div class="form-group" hidden>
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" readonly />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProjectURL" class="control-label"></label>
                <input asp-for="ProjectURL" class="form-control" readonly />
                <span asp-validation-for="ProjectURL" class="text-danger"></span>
            </div>
            <!--End of hidden-->


            <div class="form-group text-center">
                <label asp-for="FileToUpload" class="bg-primary text-light" style="width: 100%; padding: 0.5em;">Jpg Format</label>
                <input asp-for="FileToUpload" accept="image/jpeg" />
            </div>
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Upload" style="float:right" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="text-center">
        <span style="color:red" class="text-center">
            @ViewData["Message"]
            @ViewData["Success"]
        </span>
    </div>
</div>

<p class="text-center">
    <a role="button" class="btn btn-outline-primary" asp-action="ViewProject">Back to list</a>
</p>