﻿@model IEnumerable<WEB2019Apr_P02_Team1.Models.Project>

@{
    ViewData["Title"] = "ViewProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--write the if count > 0-->
<br />
<br />
<div class="container-fluid">
    <div class="card-header text-center text-white bg-dark mb-3">
        <h4>Your Project portfolios</h4>
    </div>
            @if (Model.Count() > 0)
            {
                <table class="table text-center ">
                    <thead>
                        <tr class="text-center">
                            <th>ProjectID</th>
                            <th>Title</th>
                            <th>Options</th>
                        </tr>
                    </thead>

                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProjectId</td>
                                <td>@item.Title</td>
                                <td>
                                    <a role="button" class="btn btn-primary" asp-action="DetailProject" asp-controller="Project"
                                       asp-route-id="@item.ProjectId">View</a>
                                    <!--UpdateNew-->
                                    <a role="button" class="btn btn-success" asp-action="UpdateNew" asp-controller="Project"
                                       asp-route-id="@item.ProjectId">Update</a>

                                    <a role="button" class="btn btn-warning" asp-action="Upload" asp-controller="Project"
                                       asp-route-id="@item.ProjectId">Upload Poster</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                </table>

            }else
            {
                <h5 class="text-center">
                    <span style="color:red;">@TempData["error"]</span>
                    <br /><br />
                </h5>
            }
        <p>
            <a role="button" class="btn btn-outline-primary" asp-action="Create">Create New</a>
        </p>
    </div>
