﻿<li class="nav-item">
    <a asp-controller="Home" asp-action="Login" class="nav-link">Login</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        Register
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Student" asp-action="Register">
            Register Student
        </a>
        <a class="dropdown-item" asp-controller="Lecturer" asp-action="Register">
            Register Lecturer
        </a>
    </div>
</li>