﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!--This file is for the layout page and the pages people view when they have not signed in-->
    <script src="https://kit.fontawesome.com/26c0de4d20.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <!--for different users, different partial views are used-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">ePortfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="width: 100%;">
                    @{ string userRole = Context.Session.GetString("Role"); }
                    @if (userRole == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    }
                    else if (userRole == "Student")
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Student" asp-action="Index">Home</a>
                        </li>
                    }
                    else if (userRole == "Lecturer")
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Lecturer" asp-action="Index">Home</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Students">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>

                    <li style="flex: 1 1 auto;"></li>

                    @if (userRole == null)
                    {
                        @await Html.PartialAsync("_AnonymousLayout.cshtml")
                    }
                    else
                    {
                        @if (userRole == "Student")
                        {
                            @await Html.PartialAsync("_StudentLayout.cshtml")
                        }

                        @if (userRole == "Lecturer")
                        {
                            @await Html.PartialAsync("_LecturerLayout.cshtml")
                        }

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    }
                    <li style="width: 30px;"></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Need to add conditions for the partial views-->

    @RenderBody()


    <!--Need to add the footer-->
    <footer>
        <span style="height: 40px; display: block;"></span>
    </footer>
</body>

</html>