﻿<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        Suggestions
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" 
           asp-controller="Lecturer" asp-action="PostSuggestion">
            Post Suggestions
        </a>
        <a class="dropdown-item" 
           asp-controller="Lecturer" asp-action="ViewSuggestions">
            View Suggestions
        </a>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" 
       asp-controller="Lecturer" asp-action="ViewMentees">
        View Mentees
    </a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        Profile
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item"
           asp-controller="Lecturer" asp-action="ChangePassword">
            Change Password
        </a>
        <a class="dropdown-item"
           asp-controller="Lecturer" asp-action="UpdateProfile">
            Update Profile
        </a>
    </div>
</li>