﻿<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Project Portfolio
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="~/Project/Index">Portfolio Home</a>
        <a class="dropdown-item" href="~/Project/Create">
            Create Project portfolio
        </a>
        <a class="dropdown-item" href="~/Project/ViewProject">
            View Project portfolio
        </a>
    </div>
</li>
            
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="~/Student/ViewProfile">
            View Profile
        </a>
        <a class="dropdown-item" href="~/Student/Update">
            Update Profile
        </a>
        <a class="dropdown-item" href="~/Student/UploadPhoto">
            Update Profile Picture
        </a>
        <a class="dropdown-item" href="~/Student/ViewSuggestions">
            View Suggestions
        </a>
    </div>
</li>